<div class="ion-text-center">
    <!--Label-->
    <ion-label class="ion-text-center">Please enter an email address</ion-label>

    <!--Text input-->
    <ion-input
            [(ngModel)]="email"
            class="ion-text-center"
            placeholder="..."
            type="email"
    ></ion-input
    >
    <ion-buttons class="ion-text-center" slot="secondary">
        <!--Confirm-->
        <ion-button (click)="onConfirm()">
            <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <!--Cancel-->
        <ion-button (click)="onCancel()">
            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
</div>
