<ion-card *ngIf="!!user">
  <ion-img src="assets/icons/user.svg"></ion-img>
  <ion-card-title class="ion-text-center">
    Howdy, {{user.firstName}}
  </ion-card-title>

  <ion-card-content>
    <app-logout-button></app-logout-button>
  </ion-card-content>
</ion-card>
