<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start">Me</ion-title>
        <app-notification-tray slot="end"></app-notification-tray>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <!--User card-->
            <ion-col
                    size-xl="4"
                    size-lg="6"
                    size-md="8"
                    size-sm="12"
                    size-xs="12">
                <app-user-details></app-user-details>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
