<ion-grid>
    <!--Folders divider-->
    <ion-item-divider *ngIf="(items | async)?.folders.length > 0">
        <ion-label>
            Folders
        </ion-label>
    </ion-item-divider>
    <!--Folders-->
    <ion-row
            size="12"
            class="ion-padding"
    >
        <ion-col
                *ngFor="let folder of (items | async)?.folders"
                size-lg="3"
                size-md="4"
                size-sm="6"
                size-xl="2"
                size-xs="12"
        >
            <app-folder-item
                    [folder]="folder"
            ></app-folder-item>
        </ion-col>
    </ion-row>

    <!--Files divider-->
    <ion-item-divider *ngIf="(items | async)?.files.length > 0">
        <ion-label>
            Files
        </ion-label>
    </ion-item-divider>
    <!--Files-->
    <ion-row
            size="12"
            class="ion-padding ion-align-items-stretch"
    >
        <ion-col
                class="ion-align-items-center"
                *ngFor="let file of (items | async)?.files"
                size-lg="3"
                size-md="4"
                size-sm="6"
                size-xl="2"
                size-xs="12"
        >
            <app-file [file]="file"></app-file>
        </ion-col>
    </ion-row>
</ion-grid>
