<ion-grid class="ion-padding">
    <!--Incoming Shares-->
    <ion-row class="ion-padding">
        <ion-col
                *ngFor="let share of incomingShares"
                size-lg="6"
                size-md="6"
                size-xs="12"
        >
            // use share component
        </ion-col>
    </ion-row>

    <!--Outgoing Shares-->
    <ion-row class="ion-padding">
        <ion-col
                *ngFor="let share of outgoingShares"
                size-lg="6"
                size-md="6"
                size-xs="12"
        >
        </ion-col>
    </ion-row>
</ion-grid>
