<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()" slot="icon-only">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-wrap" slot="start">{{photo.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-img [src]="data"></ion-img>
        <ion-card-content>
            <ion-buttons>
                <ion-button (click)="delete()" slot="icon-only">
                    <ion-icon name="trash-outline"></ion-icon>
                    Delete
                </ion-button>
            </ion-buttons>
        </ion-card-content>
    </ion-card>
</ion-content>
