<ion-list>
    <!--Camera-->
    <ion-item (click)="openCamera()" button detail="false">
        <ion-icon class="ion-padding" name="add-outline"></ion-icon>
        Take a photo
    </ion-item>

    <!--Upload - non-native-->
    <ion-item (click)="input.click()" button detail="false">
        <input #input (change)="fromDevice(input.files)" [hidden]="true" multiple type="file">
        <ion-icon class="ion-padding" name="cloud-upload-outline"></ion-icon>
        Upload
    </ion-item>
</ion-list>
