<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]="loginForm">
            <ion-row>
                <ion-col class="ion-padding-vertical">
                    <ion-title class="ion-text-center" size="large">Welcome,</ion-title>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Email</ion-label>
                        <ion-input formControlName="username" type="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Password</ion-label>
                        <ion-input formControlName="password" type="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button
                            (click)="onSignIn()"
                            [disabled]="loginForm.invalid"
                            color="success"
                            expand="block"
                            size="large"
                    >Sign In
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button
                            color="primary"
                            expand="block"
                            routerLink="/register"
                            size="large"
                    >Sign Up
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
