<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]="registerForm">
            <ion-row>
                <ion-col class="ion-padding-vertical">
                    <ion-title class="ion-text-center" size="large">Sign Up,</ion-title>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>First Name</ion-label>
                        <ion-input formControlName="firstName" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Last Name</ion-label>
                        <ion-input formControlName="lastName" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Email</ion-label>
                        <ion-input formControlName="email" type="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Password</ion-label>
                        <ion-input formControlName="password" type="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Confirm</ion-label>
                        <ion-input formControlName="confirm" type="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button
                            (click)="onSignUp()"
                            [disabled]="registerForm.invalid"
                            color="success"
                            expand="block"
                            size="large"
                    >Sign Up
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>
