<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start">Shared</ion-title>
        <app-notification-tray slot="end"></app-notification-tray>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
