<div (mouseleave)="dismiss()" *ngIf="transactions.length === 0">
    <ion-list-header>There's nothing here!</ion-list-header>
</div>

<div (mouseleave)="dismiss()" *ngIf="transactions.length > 0">
    <ion-list-header>Transactions</ion-list-header>
    <ion-list>
        <app-progress-notification
                *ngFor="let transaction of transactions"
                [transaction]="transaction"
        >
        </app-progress-notification>
    </ion-list>
</div>
