<ion-list>
    <!--Folder-->
    <ion-item detail="false" (click)="addFolder()" button>
        <ion-icon class="ion-padding" name="add-outline"></ion-icon>
        New folder
    </ion-item>

    <!--Upload-->
    <ion-item detail="false" (click)="input.click()" button>
        <input #input type="file" multiple [hidden]="true" (change)="selectAndUpload(input.files)">
        <ion-icon class="ion-padding"  name="cloud-upload-outline"></ion-icon>
        Upload
    </ion-item>
</ion-list>
