<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <app-back-button></app-back-button>
        </ion-buttons>
        <ion-title slot="start">Items</ion-title>
        <app-notification-tray slot="end"></app-notification-tray>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <app-item-list></app-item-list>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <app-upload-button></app-upload-button>
    </ion-fab>
</ion-content>
