<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="root">
      <ion-icon name="folder-open-sharp"></ion-icon>
      <ion-label>Files</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="images-sharp"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
