<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start">Photos</ion-title>
        <app-notification-tray slot="end"></app-notification-tray>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <app-photo-list></app-photo-list>
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
        <app-photo-menu-button></app-photo-menu-button>
    </ion-fab>
</ion-content>
