<ion-item class="ion-padding-bottom">
    <ion-grid>
        <ion-row class="ion-padding-bottom ion-text-center">
            <ion-card-subtitle>{{transaction.tag}}</ion-card-subtitle>
        </ion-row>
        <ion-row>
            <ion-progress-bar [value]="progress"></ion-progress-bar>
        </ion-row>
    </ion-grid>
</ion-item>
