/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// regular style toast
@import '~ngx-toastr/toastr';

ion-content {
  --ion-background-color: $dark;
}

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.max-toast-width-200 {
  .toast-wrapper {
    max-width: 200px;
    align-self: self-end;
  }
}

.collection {
  @media (max-width: 779px) and (min-width: 0px) {
    column-count: 2;
  }

  @media (max-width: 1039px) and (min-width: 780px) {
    column-count: 3;
  }

  @media (max-width: 1299px) and (min-width: 1040px) {
    column-count: 4;
  }

  @media (min-width: 1300px) {
    column-count: 4 !important;
  }
}
