<ion-card appContext class="ion-text-center">
    <ion-card-header class="ion-text-center">
        <ion-img (click)="open()" src="assets/icons/folder.svg" tappable></ion-img>
    </ion-card-header>
    <ion-card-title>{{ folder.name }}</ion-card-title>
    <ion-card-content class="ion-text-center">
        <ion-buttons>
            <ion-button (click)="rename()" class="ion-color-success" slot="icon-only">
                <ion-icon name="create-outline" size="medium"></ion-icon>
            </ion-button>
            <ion-button (click)="delete()" class="ion-color-danger" slot="icon-only">
                <ion-icon name="trash-outline" size="medium"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-card-content>
</ion-card>


