<ion-card appContext>
    <ion-grid>
        <ion-row class="ion-align-items-center ion-margin-bottom" size="12">
            <ion-col>
                <ion-img class="size-x" [src]="thumbnail.asObservable() | async"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-self-center" size="12">
            <ion-col size="1"></ion-col>
            <ion-col class="on-align-self-center ion-text-center" size="10">
                <ion-card-title class="dont-break-out">{{wrappedName()}}</ion-card-title>
                <ion-card-content class="ion-text-center">
                    <ion-buttons>
                        <ion-button (click)="rename()" class="ion-color-success" slot="icon-only">
                            <ion-icon name="create-outline" size="medium"></ion-icon>
                        </ion-button>
                        <ion-button (click)="delete()" class="ion-color-danger" slot="icon-only">
                            <ion-icon name="trash-outline" size="medium"></ion-icon>
                        </ion-button>
                        <ion-button (click)="download()" class="ion-color-danger" slot="icon-only">
                            <ion-icon name="arrow-down-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-card-content>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
